<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="url1" value="https://www.google.com/"/>
    <add key="url2" value="https://www.microsoft.com/"/>
    <add key="url3" value="https://www.azure.com/"/>
  </appSettings>
</configuration>
